{
  "root": true,
	"parser": "@typescript-eslint/parser",
	"env": { "node": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "semi": [2, "never"],
    "@typescript-eslint/no-explicit-any": "off"
  }
}
